{% extends "tester/layout.jinja" %}
{% block title %}There were some failed tests{% endblock %}
{% block content %}
<p>What went wrong: {{ reason }}</p>
<p>
{% include "tester/errors/errorreport.jinja" %}
</p>
{% endblock %}
