{% if problem %}Calling {{ endpoint }} produced {{ problem }}.{% endif %}
{% if result %}Your output was "{{ result }}" when it should have been
"{{ expected }}" for the input "{{ input }}".{% endif %}
{% if unknown %}I don't know about {{ unknown }}.{% endif %}
